<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="favicon" sizes="16x16" href="../favicons/customer/favicon-16x16.png">
    <link rel="favicon" sizes="32x32" href="../favicons/customer/favicon-32x32.png">
    <link rel="android-chrome" sizes="192x192" href="../favicons/customer/android-chrome-192x192.png">
    <link rel="android-chrome" sizes="512x512" href="../favicons/customer/android-chrome-512-512.png">
    <link rel="icon" href="../favicons/customer/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%- include("../components/scriptsAndLinks") %>
    <link rel="stylesheet" href="../css/customer/customer_general.css">
    <link rel="stylesheet" href="../css/admin/admin_customers.css">
</head>
    <body>
        <%- include("./admin-navigation") %>
        <main class="main-container">
            <section class="customer-profiles-container">

            </section>
        </main>
        <script src="../javascript/admin/admin-projects.js"></script>
        <script src="../javascript/findLoggedInUser.js"></script>
    </body>