<%- include("../components/navigation-bar") %>
    <div class="constrain">
            <nav class="inside-nav">
                <ul class="inside-nav-container">
                    <li class="inside-nav-linkContainer">
                        <a href="/admin/general" class="inside-nav-link" id="GeneralTab">
                            <span class="nav-left">
                                <svg class="inside-nav-svg">
                                    <use href="../symbol-defs.svg#icon-flash"></use>
                                </svg>
                                General
                            </span>
                            <span class="nav-top">
                                <svg>
                                    <use href="../symbol-defs.svg#icon-info-with-circle"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="inside-nav-linkContainer">
                        <a href="/admin/customers" class="inside-nav-link" id="ProfileTab">
                            <span class="nav-left">
                                <svg class="inside-nav-svg">
                                    <use href="../symbol-defs.svg#icon-flash"></use>
                                </svg>
                                Customers
                            </span>
                            <span class="nav-top">
                                <svg>
                                    <use href="../symbol-defs.svg#icon-profile"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="inside-nav-linkContainer">
                        <a href="/admin/developers" class="inside-nav-link" id="PrivacyTab">
                            <span class="nav-left">
                                <svg class="inside-nav-svg">
                                    <use href="../symbol-defs.svg#icon-flash"></use>
                                </svg>
                                Developers
                            </span>
                            <span class="nav-top">
                                <svg>
                                    <use href="../symbol-defs.svg#icon-cog"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="inside-nav-linkContainer">
                        <a href="/admin/projects" class="inside-nav-link" id="ProjectsTab">
                            <span class="nav-left">
                                <svg class="inside-nav-svg">
                                    <use href="../symbol-defs.svg#icon-flash"></use>
                                </svg>
                                Projects
                            </span>
                            <span class="nav-top">
                                <svg>
                                    <use href="../symbol-defs.svg#icon-stack"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
