<nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-style">

    <a class="navbar-brand brand-name mx-auto" href="/"><img class="logo-img" src="../media/nest.png"></a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ma-auto ">
            <li class="nav-item bordernav">
                <a class="nav-link active HomeRouteLink" href="/">Home</a>
            </li>
            <li class="nav-item bordernav">
                <a class="nav-link" href="/contactProjectsNest">Contact Us</a>
            </li>
            <li class="nav-item bordernav">
                <a class="nav-link" href="/home/marketplace">Marketplace</a>
            </li>
            <li class="nav-item bordernav">
                <a class="nav-link" href="/home/people">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>

        <div class="navbar-nav ml-auto " id="navbarProfileHolder">
            <div class="searchTab" id="searchResultsTab">
            </div>
            <form action="search" method="post" class="d-flex">
                <div class="input-group">

                    <input type="text" class="form-control text-area" placeholder="Search" id="searchInput" autocomplete="off">

                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</nav>