<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <%- include("../components/scriptsAndLinks") %>
</head>
<body>
    <%- include("../components/navigation-bar") %>
    
    <script src="../javascript/navbar.js"></script>
</body>
</html>