<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About ProjectsNest</title>
    <%- include("../components/scriptsAndLinks.ejs") %>
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <%- include("../components/navigation-bar") %>
    <main class="container">
        <h2>Software's Technology, University Of Piraeus, 2021-2022</h2>
        <p>ProjectsNest was developed by <span class="names">Giorgos Kostantos,Sofia Gompou,Thodoris Giannopoulos,Antonis
            Karnavas and Elena Tzara</span> during the 6th semester of 'Computer Science' department in the 
            University of Piraeus. The project was part of the semester's assignment, with the development
            lasting around three to four months. Detailed description as well as project's requirements can 
            be seen in the following embedded word document.
        </p>
        <div class="wrapper">
            <iframe id="frame" src="https://onedrive.live.com/embed?cid=404FBA97391FF03A&amp;resid=404FBA97391FF03A%211890&amp;authkey=ADGAowsC1YG63WE&amp;em=2" width="1000px" height="750px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
        </div>
    </main>
    <script src="../javascript/findLoggedInUser.js"></script>
    <script src="../javascript/about.js"></script>
    <script src="../javascript/navbar.js"></script>
</body>
</html>