<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About ProjectsNest</title>
    <%- include("../components/scriptsAndLinks.ejs") %>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/contact-success.css">
</head>

<body>
    <%- include("../components/navigation-bar") %>
    <div class="success-container">
        <div class="success">
            <svg>
                <use href="../symbol-defs.svg#icon-checkmark1"></use>
            </svg>
            <p>Your message has successfully reached our database!</p>
        </div>
    </div>
    <div class="links">
        <a href="/contactProjectsNest" class="contactLink">Contact us again</a>
        <a href="/home/profile" class="contactLink">View your profile</a>
    </div>
    <script src="../javascript/findLoggedInUser.js"></script>
    <script src="../javascript/navbar.js"></script>
</body>

</html>