<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Projects Nest Corp">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Projects Nest - Home
    </title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="icon" href="media/favicon.ico">

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <!--Navigation Bar -->
    <%- include("../components/navigation-bar") %>


    <!--Header video -->
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autobuffer="true" autoplay="true" loop="true" muted="muted">
            <source src="media/indexvideo.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Projects Nest</h1>
                    <p class="lead mb-0">Get a developer to create your project or create one for someone else!</p>
                </div>
            </div>
        </div>
    </header>

    <section class="section-1">
        <section class="timeline">
            <p class="lead align sect1txt">For the developer</p>
            <ul>
                <li>
                    <div data-aos="fade-left" class="content">
                        <h2>
                            <time>#1</time>
                        </h2>
                        <p>Create an account or login to an existing one!</p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-right" class="content">
                        <h2>
                            <time>#2</time>
                        </h2>
                        <p>Find an available project that you like and you have the skills to do! </p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-left" class="content">
                        <h2>
                            <time>#3</time>
                        </h2>
                        <p>Get in contact with the customer who posted the project and make a conversation about the
                            requirements for both ends.</p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-right" class="content">
                        <h2>
                            <time>#4</time>
                        </h2>
                        <p>Complete the project but always communicate with the customer to fill you up with the details
                            of their needs. </p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-left" class="content">
                        <h2>
                            <time>#5</time>
                        </h2>
                        <p>Mark the project as finished and wait for the customer for confirmation.</p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-right" class="content">
                        <h2>
                            <time>#6</time>
                        </h2>
                        <p>Get paid for your work and start looking for your next amazing project!</p>
                    </div>
                </li>
            </ul>
        </section>

    </section>

    <section class="section-2">
        <div class="timeline">
            <p class="lead align sect2txt">For the customer</p>
            <ul style="background:linear-gradient(#112d4e,#405671)">
                <li>
                    <div data-aos="fade-left" class="content">
                        <h2>
                            <time>#1</time>
                        </h2>
                        <p>Create an account or login to an existing one!</p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-right" class="content">
                        <h2>
                            <time>#2</time>
                        </h2>
                        <p>Think of an idea and plan in out in your amazing brain of yours! </p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-left" class="content">
                        <h2>
                            <time>#3</time>
                        </h2>
                        <p>Post about the project that you want to be completed by a professional developer and its
                            requirements!</p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-right" class="content">
                        <h2>
                            <time>#4</time>
                        </h2>
                        <p>Reach to a developer or wait for a developer to contact you.</p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-left" class="content">
                        <h2>
                            <time>#5</time>
                        </h2>
                        <p>Assign your project to a developer that fulfills all your requirements and needs and wait for
                            the project to be completed.</p>
                    </div>
                </li>
                <li>
                    <div data-aos="fade-right" class="content">
                        <h2>
                            <time>#6</time>
                        </h2>
                        <p>When the project is marked as completed see it by yourself, make some adjustments if needed,
                            pay the developer and enjoy your idea in action! </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-------------------------------------->
    <!----------------FOOTER---------------->
    <!-------------------------------------->

    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col footer-icons">
                    <img src="media\facebook.png" class="social-icon-1">
                    <img src="media\instagram.png" class="social-icon-2">
                    <img src="media\youtube.png" class="social-icon-3">
                </div>
            </div>
            <div class="row">
                <div class="col footer-copyright">
                    <p>Copyright © 2021 ProjectsNest.gr</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../javascript/findLoggedInUser.js"></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="javascript/index.js"></script>
    <script src="../javascript/navbar.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>