<%- include("../components/navigation-bar") %>
    <div class="constrain">
            <nav class="inside-nav">
                <ul class="inside-nav-container">
                    <li class="inside-nav-linkContainer">
                        <a href="/customer/general" class="inside-nav-link" id="GeneralTab">
                            <span class="nav-left">
                                <svg class="inside-nav-svg">
                                    <use href="../symbol-defs.svg#icon-flash"></use>
                                </svg>
                                General
                            </span>
                            <span class="nav-top">
                                <svg>
                                    <use href="../symbol-defs.svg#icon-info-with-circle"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="inside-nav-linkContainer">
                        <a href="/customer/profile" class="inside-nav-link" id="ProfileTab">
                            <span class="nav-left">
                                <svg class="inside-nav-svg">
                                    <use href="../symbol-defs.svg#icon-flash"></use>
                                </svg>
                                Profile
                            </span>
                            <span class="nav-top">
                                <svg>
                                    <use href="../symbol-defs.svg#icon-profile"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="inside-nav-linkContainer">
                        <a href="/customer/options" class="inside-nav-link" id="PrivacyTab">
                            <span class="nav-left">
                                <svg class="inside-nav-svg">
                                    <use href="../symbol-defs.svg#icon-flash"></use>
                                </svg>
                                Edit Privacy
                            </span>
                            <span class="nav-top">
                                <svg>
                                    <use href="../symbol-defs.svg#icon-cog"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="inside-nav-linkContainer">
                        <a href="/customer/projects" class="inside-nav-link" id="ProjectsTab">
                            <span class="nav-left">
                                <svg class="inside-nav-svg">
                                    <use href="../symbol-defs.svg#icon-flash"></use>
                                </svg>
                                Projects
                            </span>
                            <span class="nav-top">
                                <svg>
                                    <use href="../symbol-defs.svg#icon-stack"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="inside-nav-linkContainer">
                        <a href="/customer/createProject" class="inside-nav-link" id="ProjectsTab">
                            <span class="nav-left">
                                <svg class="inside-nav-svg">
                                    <use href="../symbol-defs.svg#icon-flash"></use>
                                </svg>
                                New Project
                            </span>
                            <span class="nav-top">
                                <svg>
                                    <use href="../symbol-defs.svg#icon-tools"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="inside-nav-buttonContainer">
                        <label for="slide" class="inside-nav-button">
                            <span class="nav-left">
                                <svg class="inside-nav-svgButton">
                                    <use href="../symbol-defs.svg#icon-circle-up"></use>
                                </svg>
                            </span>
                            <span class="nav-top">
                                <svg class="inside-nav-svgButton">
                                    <use href="../symbol-defs.svg#icon-circle-down"></use>
                                </svg>
                            </span>
                        </label>
                        <input type="checkbox" checked name="slide" id="slide">
                    </li>
                </ul>
            </nav>
